body{
    background-color: black;
    
    
    
    
    
    
}
header{
    height: 57px;
    background-color: #E0BBE;
    margin-bottom: 0px;
    
}
.navbar{
    display: inline-block;
    width: 50%;
    
    
    
}
.nav nav-underline{
    display: inline-block;
    margin-left: 50%;
    width: 50%;
    
}
,nav-item{
    width: 50%;
    
    
    
}


ul{
    display: inline;
    justify-content: flex-end;
    margin-right: 15px;
    
    
    
    
}
.background-video{
    display: block;
    
    
    
    
    
}
nav{
    height: 650px;
    width: 100%;
    background-image: url(space_-_18492%20(1440p).mp4);
    color: white;
    
    
    
    
    
}
video{
    object-fit:cover;
    height: 650px;
    width: 100%;
 
    
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive;
    font-size: 160px;
}
.logo{
    display: inline;
    width: 50%;
    
    
}
section{
    height: 1500px;
    background-color: black;
    color: whitesmoke;
    margin: 0px;
    
    
    
    
    
}
.intro{
    height: 400px;
    background-color: black;
    width: 100%;
    
    
    
}
h1{
    font-family: 'Akronim', cursive;
    font-size: 200px;
    text-align: center;
    color: white;
    padding-top: 10pt;
    
    
    
}
.container {
  position: relative;
  width: 400px;
}

.image {
  display: block;
  width: 500px;
  height: 400px;
    object-position: center;
 margin-left: 30%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:whitesmoke;
    margin-left: 30%;
    opacity: 0.8;
  overflow: hidden;
  width: 0;
  height: 400px;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 512px;
}

.text {
  color: black;
  font-size: 20px;
    font-family: 'Fredericka the Great', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.zero{
    height: 850px;
    margin-left: 0;
    margin-right: 0;
    
    
    
    
    
    
}
#zero-one{
    width: 20%;
    height: 500px;
    margin-left: 70pt;
    margin-bottom: 25pt;
    float: left;
    
    
    
    
}
#milky-img{
 border-radius: 190px;    
    
    
    
}
#milk-p{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 32px;
    float: left;
    padding-left: 105px;
}
#zero-two{
    width: 20%;
    height: 500px;
    margin-left: 100pt;
    margin-bottom: 25pt;
    float: left;
    
}
#milk-A{
    
   text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 32px;
    float: left;
    padding-left: 105px;
    
}
#andromeda-img{
    border-radius: 190px;
    
    
}
#zero-three{
     width: 20%;
    height: 500px;
    margin-left: 100pt;
    margin-bottom: 25pt;
    float: left;
    
    
    
    
}
#Dwarf-img{
    
     border-radius: 190px;
    
    
}
#milk-D{
    
     text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 32px;
    float: left;
    padding-left: 67px;
    
    
    
}

#section-zero{
    margin-left: 90pt;
    
    
    
    
}
#headofsection{
    font-family: 'Akronim', cursive;
    font-size: 100px;
    text-align: center;
    color: white;
    padding-top: 10pt;
    
    
}
#funfact{
    object-position: center;
    text-align: center;
    align-items: center;
    
    
    
}
#funfacth{
    font-family: 'Kablammo', cursive;
    font-size: 48px;
    padding-right: 70pt;

    
    
    
    
    
}
#funfactp{
    padding-right: 70pt;
    font-family: 'Kranky', cursive;
    font-size: 29px;
    
    
}
footer{
    height: 300px;
    background-color: white;
    
    
    
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background:black;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: black;
  color: white;
}
/* Instagram */
.fa-instagram{
    background: black;
    color: white;
    
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 53px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
#footerdiv{
    align-items: center;
    text-align: center;
    
    
    
    
}
#footerh{
    font-family: 'Megrim', cursive;
    font-size: 48px;
    
    
    
    
}





















